@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl font-extrabold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .underline-animation {
    @apply after:transform-left after:absolute after:left-auto after:right-0 after:block after:w-0 after:transform after:border-b-2 after:border-white after:duration-300 after:ease-out;
  }
  .underline-animation-hover {
    @apply hover:after:left-0 hover:after:right-auto hover:after:w-full;
  }
  .background-animation {
    @apply after:transform-left flex after:absolute after:left-auto after:right-0 after:block after:h-full after:w-0 after:transform after:overflow-hidden after:bg-white after:duration-700 after:ease-out;
  }
  .background-animation-hover {
    @apply hover:after:left-0 hover:after:right-auto hover:after:w-full;
  }
  .bg-shadow-hover {
    @apply hover:bg-shadow-white;
  }
  .input-box {
    @apply relative mt-8 h-12 w-1/2 min-w-96 border-b-2 border-b-white;
  }
  .input-icon {
    @apply absolute right-2 top-4 h-6 w-6;
  }
  .input-box input {
    @apply h-full w-full border-none bg-transparent px-2 outline-none;
  }
  .input-box label {
    @apply pointer-events-none absolute left-1 top-1/2 -translate-y-1/2 text-sm font-medium duration-500;
  }

  .main-container {
    @apply flex h-full w-full rounded-md px-4 pt-20;
  }
  .left-container {
    @apply h-full w-full max-w-xs rounded-md border;
  }

  .menu {
    @apply inline-flex w-full items-center justify-end;
  }
  .inp {
    @apply rounded-md border px-2 py-1 focus:border-blue-500 focus:outline-none focus:ring-0;
  }
  .example {
    @apply flex h-36 cursor-pointer items-center justify-center overflow-hidden rounded-md border border-white;
  }
  .example-title {
    @apply text-5xl font-extrabold duration-300;
  }

  .btn {
    @apply border-spacing-1.5 rounded-md border px-2 py-1 uppercase shadow-md transition duration-300 hover:bg-slate-100 hover:text-black focus:ring focus:ring-opacity-75;
  }
}

@layer utilities {
  .transform-left {
    transform-origin: left;
  }

  .transform-right {
    transform-origin: right;
  }
  .bg-shadow-white {
    filter: drop-shadow(0px 0px 8px white);
  }

  /* input spin 없애기 */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox  */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  /*스크롤바 숨기기*/
  html,
  body {
    overflow: auto;
    -ms-overflow-style: none; /* IE와 Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* 크롬, 사파리, 엣지 */

  html::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
